<div class="embrace">
      {{ page.header_language }} 
  <header aria-label="Site header" class="header" id="header" role="banner">
    <div class="header--main">    
     {{page.header_logo}}
     {{ page.header_menu }}
     {{ page.header_search }}
    </div>
  </header>
  <section class="slider" id="slider" role="complementary">
      {{ page.slider }}
  </section>
  <section class="main" id="main">
      {{ page.category_menu }}
    <div aria-label="Site main content" class="content" id="content" role="main">
      {{ page.breadcrumb }}
      {{ page.content }}
      <div class="content_product">
          {{ page.content_left_product }}
          {{ page.content_right_product }}
      </div>
    </div>
    <div class="news" id="news">
        {{ page.news_left }}
        {{ page.news_right }}
    </div>
    {{ page.content_experience }}
    {{ page.content_nation }}
</section>
<footer aria-label="Site footer" class="footer" id="footer" role="contentinfo">
   <div class="footer--top">
     <div class="footer-with">
      {{ page.footer_top }}
     </div>
   </div>
      {{ page.footer_bottom }}
</footer>
</div>