{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <div class="flex_breadcrumb">
    <p class="breadcrumb_title">{{ breadcrumb_title }}</p>
    <ol class="breadcrumb_list">
    {% for item in breadcrumb %}
      <li class="breadcrumb_item">
        {% if item.url %}
          <a href="{{ item.url }}" class="breadcrumb_hover breadcrumb_link breadcrumb_size">{{ item.text }}</a>
          <span class="breadcrumb_size">â¯</span>
        {% else %}
          <a href="{{ item.url }}"  class="breadcrumb_hover breadcrumb_next breadcrumb_size">{{ item.text }}</a>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
    </div>
  </nav>
{% endif %}
